.row{
    margin-left:20px;
    color:#fff;

}
.head:hover{
    color:red;
}
.posters{
    display:flex;
    padding:20px;
    overflow-x: scroll;
    overflow-y: hiddden;
   

}
.posters::-webkit-scrollbar{
    display:none;
}
.poster{
    max-height:250px;   
        cursor:pointer;     
    margin-right: 10px;
}
.smallPoster{
    max-height: 150px;
    cursor:pointer;
    margin-right: 10px;
}
.poster:hover{
    transform:scale(1.2)
}
.smallPoster:hover{
    transform:scale(1.1)
}
